/* fonts */

@font-face {
    font-family: "PTsans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;

    font-display: swap;
  }
@font-face {
    font-family: "PTsans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;

    font-display: swap;
}

/* tags */

box {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: normal;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background-color: #F2F2F2;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 78px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* main classes */

.bg-light {
    background-color: rgba(131, 179, 211, 0.12);
}

.bg-dark {
    background-color: rgba(131, 179, 211, 0.2);
}

.button {
    background-color: #756157;
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-secondary {
    background-color: #82B3D3;
    color: #fff;
}

.btn-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.btn-selected {
    background-color: #7DB54F;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #fff;
}

/* header */

.header {
    text-align: center;
    text-transform: uppercase;
}

.menu-nav {
    display: flex;
    width: 1060px;
    margin: 0 auto;

    background-color: #fff;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.navigation-user {
    max-width: 350px;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-logo-link {
    width: 138px;
    height: 64px;
    margin-right: 30px;
}

.logo {
    position: relative;
}

.menu-link {
    color: #000;
    font-size: 20px;
    line-height: 24px;

    display: block;
    padding: 20px 16px;
}

.navigation-item {
    background-color: grey;
}

.navigation-link {
    display: block;
    padding: 22px 12px;
}

.navigation-favorites-counter {
    display: block;
    width: 20px;
    height: 20px;

    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #7DB54F;
}

.navigation-button {
    margin-left: 20px;
}

.main-container {
  flex-grow: 1;
}

/* hero */

.hero-img {
    height: 485px;
    padding: 51px 0 82px 0;
    background-image: url('../images/index-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-svg-text {
    display: block;
    margin: 0 auto;
}

.hero-under {
 padding: 69px 0;
}

.hero-header {
    margin: 0 auto 25px;
    max-width: 620px;
}

.hero p {
    margin: 0;

    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.menu-list {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

/* advantages */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
}

.advantages-item-container {
    padding: 102px 85px;
}

.advantages-item-wide {
    color: #fff;
    background-color: #82B3D3;
    width: 100%;
    display: flex;
}

.advantages-header {
    margin: 0 0 62px 0;
}

.advantages-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

/* goods */

.goods-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.goods-list {
    display: flex;
}

.goods-item {
    width: 400px;
    padding: 81px 85px;
}

.goods-icon {
    width: 75px;
    height: 72px;
    margin: 0 auto 30px;
    background-color: grey;
}

.goods-title {
    margin: 0 0 30px 0;
}

.goods-subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0;
}

/* clickbait */

.clickbait {
    padding: 96px 0;
}

.clickbait-header {
    margin: 0 0 20px;
}

.clickbait-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 54px;
}

.clickbait-button {
    display: block;
    margin: 0 auto;
}

/* selector */

.selector {
    background-image: url('../images/filter.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;

    padding: 35px 70px 70px;
}

.selector-header {
    margin: 0 0 8px;
}

.selector-list {
    display: flex;
    align-items: center;
}

.selector-item a{
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}

.selector-item-home {
    width: 13px;
    height: 15px;
    background-color: grey;
    margin: 0 28px 0 0;
}

.selector-breadcrumps {
    margin: 0 0 43px 0;
}

.selector-form {
    display: flex;
    justify-content: space-between;
}

.form-column {
  display: flex;
}

.selector-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.selector-label {
    font-size: 18px;
    line-height: 23px;
}

.selector-price {
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.price-label {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    opacity: 30%;
}

/* result */

.result {
    padding: 50px 70px 60px;
}

.result-header-row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.result-header {
    text-align: left;
    margin: 0 200px 0 0;
}

.result-select {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 21px;

    width: 292px;
}

.result-button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 auto;
    width: 160px;
}

.result-button {
    display: block;
    width: 48px;
    height: 48px;
    background-color: grey;
}

.result-select {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-item {
    width: 340px;
}

.result-item-link {
    color: #333333;
}

.result-item-title {
    color:#000;
    font-size: 24px;
    line-height: 28px;
}

.result-item-desc {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.result-item-price {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.result-score {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

/* pagination */

.result-pagination {
    margin-top: 80px;
    display: flex;
}

.pagination-item,
.pagination-link {
    font-size: 21px;
    line-height: 36px;
}

.pagination-item {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-current {
    background-color: #F2F2F2;
}

/* newsletter */

.newsletter {
    padding: 96px 104px;
    background-image: url('../images/Subscribe.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.newsletter-header {
    color: #fff;
    margin: 0 0 20px;
}

.newsletter-text {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 54px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-input {
    font-family: "PTsans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.newsletter-inner {
    background: none;
}

.newsletter-inner .newsletter-header,
.newsletter-inner .newsletter-text {
    color: #000;
}

/* footer */

.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 70px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer-list {
    display: flex;
    padding: 5px 0;
    max-width: 300px;
    flex-wrap: wrap;
}

.footer-link {
    display: block;
    width: 47px;
    height: 40px;
    background-color: grey;
}

.footer-phone {
    color: #000;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
}
