/* fonts */

@font-face {
    font-family: "PTsans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;

    font-display: swap;
  }
@font-face {
    font-family: "PTsans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;

    font-display: swap;
}

/* tags */

html {
    height: 100%;
}

body {
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: normal;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 78px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* main classes */

.bg-light {
    background-color: rgba(131, 179, 211, 0.12);
}

.bg-dark {
    background-color: rgba(131, 179, 211, 0.2);
}

.button {
    background-color: #756157;
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-secondary {
    background-color: #82B3D3;
    color: #fff;
}

.btn-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.btn-selected {
    background-color: #7DB54F;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* header */

.header {
    text-align: center;
    text-transform: uppercase;
}

.menu-nav {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-user {
    /* max-width: 268px; */
    /* не уверен пока насчет задания ширины, звучит нерасширяемо в будущем при изменении количества элекментов меню */
    margin-left: auto;
}


.menu-link {
    color: #000;
    font-size: 20px;
    line-height: 24px;
}

.menu-favorites-counter {
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #7DB54F;
}

.main-container {
  flex-grow: 1;
}

/* hero */

.hero-img {
    height: 485px;
    background-image: url('../images/index-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-svg-text {
    display: block;
    margin: 0 auto;
}

.hero p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.menu-list {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

/* advantages */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
}

.advantages-item-wide {
    color: #fff;
    background-color: #82B3D3;
    width: 100%;
    display: flex;
}

.advantages-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/* goods */

.goods-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.goods-list {
    display: flex;
}

.goods-item {
    width: 400px;
}

.goods-subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

/* clickbait */

.clickbait-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}

.clickbait-button {
    display: block;
    margin: 0 auto;
}

/* selector */

.selector {
    background-image: url('../images/filter.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}

.selector-item a{
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}

.selector-form {
    display: flex;
    justify-content: space-between;
}

.form-column {
  display: flex;
}

.selector-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.selector-label {
    font-size: 18px;
    line-height: 23px;
}

.selector-price {
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.price-label {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    opacity: 30%;
}

/* result */

.result-header {
    text-align: left;
}

.result-select {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-item {
    width: 340px;
}

.result-item-link {
    color: #333333;
}

.result-item-title {
    color:#000;
    font-size: 24px;
    line-height: 28px;
}

.result-item-desc {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.result-item-price {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.result-score {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

/* pagination */

.pagination-item,
.pagination-link {
    font-size: 21px;
    line-height: 36px;
}

.pagination-current {
    background-color: #F2F2F2;
}

/* newsletter */

.newsletter {
    background-image: url('../images/Subscribe.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.newsletter-header {
    color: #fff;
}

.newsletter-text {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-input {
    font-family: "PTsans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.newsletter-inner {
    background: none;
}

.newsletter-inner .newsletter-header,
.newsletter-inner .newsletter-text {
    color: #000;
}

/* footer */

.footer-container {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.footer-phone {
    color: #000;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
}
