/* fonts */

@font-face {
    font-family: "PTsans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;

    font-display: swap;
  }
@font-face {
    font-family: "PTsans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;

    font-display: swap;
}

/* tags */

box {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: normal;

    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background-color: #F2F2F2;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 78px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* main classes */

.bg-light {
    background-color: rgba(131, 179, 211, 0.12);
}

.bg-dark {
    background-color: rgba(131, 179, 211, 0.2);
}

.button {
    background-color: #756157;
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    padding: 8px 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
    outline: none;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.button:disabled {
    background-color: #E5E5E5;
    outline: none;
}


.btn-secondary {
    background-color: #82B3D3;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #68A2CA;
}

.btn-secondary:focus {
    background-color: #68A2CA;
    outline: none;
}

.btn-secondary:active {
    color: rgba(255, 255, 255, 0.3);
}

.btn-selected {
    background-color: #7DB54F;
}

.btn-selected:hover {
    background-color: #6C9E42;
}

.btn-selected:focus {
    background-color: #6C9E42;
    outline: none;
}

.btn-selected:active {
    color: rgba(255, 255, 255, 0.3);
}

.btn-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.input:hover {
    background-color: #E5E5E5;
}

.input:focus {
    outline: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #fff;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* header */

.header {
    text-align: center;
    text-transform: uppercase;
}

.menu-nav {
    display: flex;
    width: 1060px;
    margin: 0 auto;

    background-color: #fff;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.navigation-user {
    max-width: 350px;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-logo-link {
    width: 138px;
    height: 64px;
    margin-right: 30px;
}

.logo {
    position: relative;
    z-index: 1;
}

.menu-item {
    position: relative;
}

.menu-item-active::after {
    content: '';
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 2px;
    background-color: #756257;
}

.menu-link {
    color: #000;
    font-size: 20px;
    line-height: 24px;

    display: block;
    padding: 20px 16px;
}

.navigation-item:last-child {
    margin-left: 20px;
}

.navigation-link {
    display: block;
    padding: 22px 12px;
}

.navigation-favorites {
    position: relative;
}

.navigation-favorites-counter {
    position: absolute;
    top: 11px;
    right: 4px;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    line-height: 10px;
    color: #fff;

    background-color: #7DB54F;
    border-radius: 50%;
}

.main-container {
  flex-grow: 1;
}

/* hero */

.hero-img {
    height: 485px;
    padding: 51px 0 82px 0;
    background-image: url('../images/index-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;

    position: relative;
}

.hero-img::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background-image: url(../images/divider.svg);
    background-size: cover;
    background-position: center;
}

.hero-svg-text {
    display: block;
    margin: 0 auto;
}

.hero-under {
 padding: 69px 0;
}

.hero-header {
    margin: 0 auto 25px;
    max-width: 620px;
}

.hero p {
    margin: 0;

    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.menu-list {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

/* advantages */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
    flex-grow: 1;
}

.advantages-item-container {
    padding: 102px 85px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages-item .advantages-header::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.advantages-item-wide {
    color: #fff;
    background-color: #82B3D3;
    width: 100%;
    display: flex;
}

.advantages-item-wide .advantages-header::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-header {
    padding: 0 0 30px 0;
    position: relative;
}

.advantages-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 30px 0 0 0;
}

/* goods */

.goods {
    padding-top: 64px;
}

.goods-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    margin: 0 0 64px;
}

.goods-list {
    display: flex;
}

.goods-item {
    width: 400px;
    padding: 81px 85px;
}

.goods-icon {
    width: 75px;
    height: 72px;
    margin: 0 auto 30px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.goods-icon-liviing {
    background-image: url(../images/icons/Advantage-icon.svg);
}

.goods-icon-food {
    background-image: url(../images/icons/food-icon.svg);
}

.goods-icon-gifts {
    background-image: url(../images/icons/gifts-icon.svg);
}

.goods-title {
    margin: 0 0 30px 0;
}

.goods-subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0;
}

/* clickbait */

.clickbait {
    padding: 96px 0;
}

.clickbait-header {
    margin: 0 0 20px;
}

.clickbait-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 54px;
}

.clickbait-button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    line-height: 36px;
}

/* selector */

.selector {
    background-image: url('../images/filter.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;

    padding: 35px 70px 70px;
}

.selector-header {
    margin: 0 0 8px;
}

.selector-list {
    display: flex;
    align-items: center;
}

.selector-item{
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}

.selector-item a{
    display: block;
    color: #fff;

    width: 100%;
    height: 100%;
}

.selector-item-home {
    width: 13px;
    height: 15px;
    margin: 0 28px 0 0;

    background-image: url(../images/icons/home.svg);
    background-size: cover;
    background-position: center;

    position: relative;
}

.selector-item-home::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 10px;
    top: 2px;
    right: -20px;

    background-image: url(../images/horiz-arrow.svg);
    background-size: cover;
    background-position: center;
}

.selector-item a:hover {
    outline: none;
}

.selector-item a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.selector-item a:hover path{
    fill: rgba(255, 255, 255, 0.6);
}

.selector-item a:active {
    color: rgba(255, 255, 255, 0.3);
}

.selector-item a:active path{
    fill: rgba(255, 255, 255, 0.3);
}


.selector-item a:focus {
    outline: none;
}

.selector-breadcrumps {
    margin: 0 0 43px 0;
}

.selector-form {
    display: flex;
    justify-content: space-between;
}

.form-column {
  display: flex;
}

.selector-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.selector-label {
    font-size: 18px;
    line-height: 23px;
}

.selector-price {
    font-family: "PTsans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    background-color: #F2F2F2;
}

.price-label {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    opacity: 30%;
}

/* result */

.result {
    padding: 50px 70px 60px;
}

.result-header-row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.result-header {
    text-align: left;
    margin: 0 200px 0 0;
}

.result-select {
    color: #333333;
    font-size: 18px;
    line-height: 21px;

    padding: 14px 40px 14px 20px;
    width: 292px;

    border: 2px solid #E5E5E5;
    border-radius: 4px;

    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
}

.result-select:hover {
    border-color: #68A2CA;
}

.result-select:focus {
    outline: none;
    border-color: #68A2CA;
}

.result-select:disabled {
    color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
}

.result-button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 auto;
    width: 160px;
}

.result-button {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-position: center;
}

.result-button-active {
    border-color: #000;
}

.result-button-card {
    background-image: url(../images/icons/card-view-icon.svg);
}

.result-button-list {
    background-image: url(../images/icons/list-view-icon.svg);
}

.result-button-table {
    background-image: url(../images/icons/table-view-icon.svg);
}

.result-button:hover {
    border-color: #000;
}

.result-button:focus {
    outline: none;
    border-color: #68A2CA;
}

.result-button:active {
    border-color: #000;
}


.result-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.result-item {
    display: grid;
    grid-gap: 16px 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "link link"
        "more fav"
        "rating score";
    padding: 20px;

    outline: 1px #E5E5E5 solid;
    border-radius: 4px;
}

.result-item-link {
  display: grid;
  grid-gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img img"
    "title title"
    "desc price";

    grid-area: link;
}

.result-item-img {
    grid-area: img;
}

.result-item-link {
    color: #333333;
}

.result-item-title {
    grid-area: title;

    margin: 0;
    color:#000;
    font-size: 24px;
    line-height: 28px;
}

.result-item-desc {
    grid-area: desc;

    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin: 0;
}

.result-item-price {
    grid-area: price;

    font-size: 18px;
    line-height: 21px;
    text-align: right;
    margin: 0;
}

.result-item-button {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-button {
    grid-area: more;
}

.fav-button {
    grid-area: fav;
}

.result-rating {
    grid-area: rating;
    display: flex;
    align-items: center;
    gap: 6px;
}

.result-star {
    width: 18px;
    height: 17px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.result-score {
    grid-area: score;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 20px;
    border-radius: 4px;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

/* pagination */

.result-pagination {
    margin-top: 80px;
    display: flex;
    gap: 8px;
}

.pagination-item,
.pagination-link {
    font-size: 21px;
    line-height: 36px;
}

.pagination-item {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.pagination-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.pagination-current {
    background-color: #F2F2F2;
}

/* newsletter */

.newsletter {
    padding: 96px 104px;
    background-image: url('../images/Subscribe.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.newsletter-header {
    color: #fff;
    margin: 0 0 20px;
}

.newsletter-text {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 54px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-input {
    font-family: "PTsans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    background-color: #F2F2F2;

    width: 454px;

    border: none;
    border-radius: 4px 0 0 4px;
    padding: 14px 20px;
}

.newsletter-button {
    border-radius: 0 4px 4px 0;
}

.newsletter-inner {
    background: none;
}

.newsletter-inner .newsletter-header,
.newsletter-inner .newsletter-text {
    color: #000;
}

/* footer */

.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 70px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer-list {
    display: flex;
    padding: 5px 0;
    max-width: 300px;
    flex-wrap: wrap;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 47px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 16px 16px; */
}

.footer-link:focus {
    outline: none;
}

.footer-link:hover path {
    fill: #68A2CA;
}

.footer-link:focus path {
    fill: #68A2CA;
}

.footer-link:active path {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
    color: #000;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
}

.footer-phone:hover {
    color: #756157;
}

.footer-phone:focus {
    color: #756157;
    outline: none;
}

.footer-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.footer-logo:focus {
    outline: none;
}

.footer-logo:hover path {
    fill: #756157;
}

.footer-logo:focus path {
    fill: #756157;
}

.footer-logo:active path {
    fill: rgba(117, 97, 87, 0.3);
}
